@charset "UTF-8";
/*
$pc-layout은 현재 현대면세점의 pc 최소 넓이를 기준으로 설정하였습니다
피그마에서 추출할 수 없는 아이콘은
https://www.flaticon.com/kr/ 에서 svg형식의 파일을 적용하였습니다.



html 구조
*/
/* var */
/* reset */
* {
  padding: 0;
  margin: 0;
  color: #222;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
}
button:hover {
  cursor: pointer;
}

a {
  color: #222;
  text-decoration: none;
}
a:hover, a:active, a:visited {
  text-decoration: none;
}

/*layout */
header {
  min-width: 1356px;
}
header > .header-wrap {
  max-width: 1356px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 54px 200px 1fr 300px;
  grid-template-rows: auto 62px;
  grid-template-areas: "utils utils utils utils" "gnb logo search others";
}
header .utils {
  grid-area: utils;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1356px;
}
header .utils .box {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .utils .lang {
  position: relative;
}
header .utils .lang .btn-lang {
  padding-left: 24px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='352' height='352' viewBox='0 0 352 352'%3E%3Cg transform='translate(176, 176) translate(-161.5, -161.5)'%3E%3Csvg width='323' height='323' viewBox='144 144 512 512'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m4e2 183.68c-119.59.0-216.32 96.738-216.32 216.32S280.418 616.32 4e2 616.32 616.32 519.586 616.32 4e2 519.586 183.68 4e2 183.68zm-29.758 11.648c-20.75 9.9062-38.918 29.863-53.059 56.207-10.02 18.672-18.094 40.68-23.773 65.023h-49.121c-1.3477-.019532-2.6484.50391-3.6094 1.4492-.95703.94922-1.5 2.2422-1.5 3.5898s.54297 2.6406 1.5 3.5859c.96094.94922 2.2617 1.4688 3.6094 1.4531h46.918c-4.5938 22.883-7.0859 47.559-7.0859 73.367.0 25.75 2.5117 50.367 7.0859 73.207h-84.703c-8.625-22.758-13.383-47.457-13.383-73.207.0-104.03 77.047-190.2 177.12-204.68zm59.512.0c71.488 10.34 131.18 57.305 159.49 121.23h-82.656c-5.6758-24.344-13.754-46.352-23.773-65.023-14.141-26.344-32.309-46.301-53.059-56.207zm-34.949 3.4648c.050781-.003906.10156.003907.15625.0v117.77h-91.316c5.4531-22.688 13.133-43.113 22.355-60.301 18.336-34.16 42.715-54.984 68.805-57.465zm10.23.0c26.148 2.4102 50.59 23.234 68.961 57.465 9.2227 17.188 16.902 37.613 22.355 60.301h-91.316zm-103.59 127.84h93.52v146.57h-93.52c-4.6758-22.699-7.2422-47.383-7.2422-73.207.0-25.887 2.5469-50.629 7.2422-73.367zm103.59.0h93.52c4.6992 22.738 7.2422 47.48 7.2422 73.367.0 25.824-2.5625 50.508-7.2422 73.207h-93.52zm103.75.0h84.703c8.6719 22.809 13.383 47.543 13.383 73.367.0 25.746-4.6016 50.453-13.227 73.207h-84.859c4.5742-22.84 7.0859-47.457 7.0859-73.207.0-25.809-2.4922-50.484-7.0859-73.367zm-298.19 156.65h82.812c5.6797 24.402 13.734 46.469 23.773 65.18 14.141 26.348 32.309 46.305 53.059 56.207-71.559-10.348-131.38-57.363-159.64-121.39zm93.047.0h91.316v117.92c-26.148-2.4102-50.59-23.234-68.961-57.465-9.2422-17.223-16.898-37.707-22.355-60.457zm101.39.0h91.316c-5.457 22.75-13.113 43.234-22.355 60.457-18.371 34.23-42.812 55.055-68.961 57.465zm101.55.0h82.812c-28.27 64.023-88.086 111.04-159.64 121.39 20.75-9.9023 38.918-29.859 53.059-56.207 10.043-18.711 18.094-40.777 23.773-65.18z' fill='none' paint-order='fill stroke' stroke='%23000000' stroke-width='7.6' stroke-linejoin='round' stroke-linecap='round'/%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m4e2 183.68c-119.59.0-216.32 96.738-216.32 216.32S280.418 616.32 4e2 616.32 616.32 519.586 616.32 4e2 519.586 183.68 4e2 183.68zm-29.758 11.648c-20.75 9.9062-38.918 29.863-53.059 56.207-10.02 18.672-18.094 40.68-23.773 65.023h-49.121c-1.3477-.019532-2.6484.50391-3.6094 1.4492-.95703.94922-1.5 2.2422-1.5 3.5898s.54297 2.6406 1.5 3.5859c.96094.94922 2.2617 1.4688 3.6094 1.4531h46.918c-4.5938 22.883-7.0859 47.559-7.0859 73.367.0 25.75 2.5117 50.367 7.0859 73.207h-84.703c-8.625-22.758-13.383-47.457-13.383-73.207.0-104.03 77.047-190.2 177.12-204.68zm59.512.0c71.488 10.34 131.18 57.305 159.49 121.23h-82.656c-5.6758-24.344-13.754-46.352-23.773-65.023-14.141-26.344-32.309-46.301-53.059-56.207zm-34.949 3.4648c.050781-.003906.10156.003907.15625.0v117.77h-91.316c5.4531-22.688 13.133-43.113 22.355-60.301 18.336-34.16 42.715-54.984 68.805-57.465zm10.23.0c26.148 2.4102 50.59 23.234 68.961 57.465 9.2227 17.188 16.902 37.613 22.355 60.301h-91.316zm-103.59 127.84h93.52v146.57h-93.52c-4.6758-22.699-7.2422-47.383-7.2422-73.207.0-25.887 2.5469-50.629 7.2422-73.367zm103.59.0h93.52c4.6992 22.738 7.2422 47.48 7.2422 73.367.0 25.824-2.5625 50.508-7.2422 73.207h-93.52zm103.75.0h84.703c8.6719 22.809 13.383 47.543 13.383 73.367.0 25.746-4.6016 50.453-13.227 73.207h-84.859c4.5742-22.84 7.0859-47.457 7.0859-73.207.0-25.809-2.4922-50.484-7.0859-73.367zm-298.19 156.65h82.812c5.6797 24.402 13.734 46.469 23.773 65.18 14.141 26.348 32.309 46.305 53.059 56.207-71.559-10.348-131.38-57.363-159.64-121.39zm93.047.0h91.316v117.92c-26.148-2.4102-50.59-23.234-68.961-57.465-9.2422-17.223-16.898-37.707-22.355-60.457zm101.39.0h91.316c-5.457 22.75-13.113 43.234-22.355 60.457-18.371 34.23-42.812 55.055-68.961 57.465zm101.55.0h82.812c-28.27 64.023-88.086 111.04-159.64 121.39 20.75-9.9023 38.918-29.859 53.059-56.207 10.043-18.711 18.094-40.777 23.773-65.18z' fill='%23000000' paint-order='fill stroke' stroke='%23000000' stroke-width='1.8' stroke-linejoin='round' stroke-linecap='round'/%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m4e2 183.68c-119.59.0-216.32 96.738-216.32 216.32S280.418 616.32 4e2 616.32 616.32 519.586 616.32 4e2 519.586 183.68 4e2 183.68zm-29.758 11.648c-20.75 9.9062-38.918 29.863-53.059 56.207-10.02 18.672-18.094 40.68-23.773 65.023h-49.121c-1.3477-.019532-2.6484.50391-3.6094 1.4492-.95703.94922-1.5 2.2422-1.5 3.5898s.54297 2.6406 1.5 3.5859c.96094.94922 2.2617 1.4688 3.6094 1.4531h46.918c-4.5938 22.883-7.0859 47.559-7.0859 73.367.0 25.75 2.5117 50.367 7.0859 73.207h-84.703c-8.625-22.758-13.383-47.457-13.383-73.207.0-104.03 77.047-190.2 177.12-204.68zm59.512.0c71.488 10.34 131.18 57.305 159.49 121.23h-82.656c-5.6758-24.344-13.754-46.352-23.773-65.023-14.141-26.344-32.309-46.301-53.059-56.207zm-34.949 3.4648c.050781-.003906.10156.003907.15625.0v117.77h-91.316c5.4531-22.688 13.133-43.113 22.355-60.301 18.336-34.16 42.715-54.984 68.805-57.465zm10.23.0c26.148 2.4102 50.59 23.234 68.961 57.465 9.2227 17.188 16.902 37.613 22.355 60.301h-91.316zm-103.59 127.84h93.52v146.57h-93.52c-4.6758-22.699-7.2422-47.383-7.2422-73.207.0-25.887 2.5469-50.629 7.2422-73.367zm103.59.0h93.52c4.6992 22.738 7.2422 47.48 7.2422 73.367.0 25.824-2.5625 50.508-7.2422 73.207h-93.52zm103.75.0h84.703c8.6719 22.809 13.383 47.543 13.383 73.367.0 25.746-4.6016 50.453-13.227 73.207h-84.859c4.5742-22.84 7.0859-47.457 7.0859-73.207.0-25.809-2.4922-50.484-7.0859-73.367zm-298.19 156.65h82.812c5.6797 24.402 13.734 46.469 23.773 65.18 14.141 26.348 32.309 46.305 53.059 56.207-71.559-10.348-131.38-57.363-159.64-121.39zm93.047.0h91.316v117.92c-26.148-2.4102-50.59-23.234-68.961-57.465-9.2422-17.223-16.898-37.707-22.355-60.457zm101.39.0h91.316c-5.457 22.75-13.113 43.234-22.355 60.457-18.371 34.23-42.812 55.055-68.961 57.465zm101.55.0h82.812c-28.27 64.023-88.086 111.04-159.64 121.39 20.75-9.9023 38.918-29.859 53.059-56.207 10.043-18.711 18.094-40.777 23.773-65.18z' fill='%23000000' paint-order='fill stroke' display='none'/%3E%3C/svg%3E%3C/g%3E%3C/svg%3E");
}
header .utils .lang ul {
  position: absolute;
  top: 100%;
  left: 20px;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #eee;
  background: #fff;
  opacity: 0;
  transition: 0.4s opacity ease-in-out;
}
header .utils .lang ul li button {
  display: block;
  width: 100%;
  padding: 4px;
}
header .utils .lang ul.active {
  opacity: 1;
}
header .utils .exchange-rate {
  font-size: 14px;
}
header .utils .menu {
  display: flex;
  gap: 8px;
}
header .utils .menu a {
  font-size: 14px;
}
header .utils .menu a + a {
  position: relative;
  display: block;
  padding-left: 8px;
}
header .utils .menu a + a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 0.8em;
  background: #aaa;
}
header #btnGnb {
  width: 34px;
  height: 34px;
  background-image: url("data:image/svg+xml,%3Csvg width='256px' height='256px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3EMenu%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Menu'%3E%3Crect id='Rectangle' fill-rule='nonzero' x='0' y='0' width='24' height='24'%3E%3C/rect%3E%3Cline x1='5' y1='7' x2='19' y2='7' id='Path' stroke='%230C0310' stroke-width='2' stroke-linecap='round'%3E%3C/line%3E%3Cline x1='5' y1='17' x2='19' y2='17' id='Path' stroke='%230C0310' stroke-width='2' stroke-linecap='round'%3E%3C/line%3E%3Cline x1='5' y1='12' x2='19' y2='12' id='Path' stroke='%230C0310' stroke-width='2' stroke-linecap='round'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
}
header .others {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}
header .others li a {
  display: block;
  font-size: 14px;
}
header .search-wrap {
  grid-area: search;
}
header .search-wrap .search {
  position: relative;
  margin: 0 auto;
  width: 60%;
  min-width: 300px;
}
header .search-wrap .search input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #eee;
  border-radius: 40px;
}
header .search-wrap .search button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

/*# sourceMappingURL=style.css.map */
