@import './_svg.scss';

/*
$pc-layout은 현재 현대면세점의 pc 최소 넓이를 기준으로 설정하였습니다
피그마에서 추출할 수 없는 아이콘은
https://www.flaticon.com/kr/ 에서 svg형식의 파일을 적용하였습니다.



html 구조
*/

/* var */
$black :#222;
$gray : #eee;
$pc-layout:1356px;


/* reset */
*{padding:0; margin:0; color:#222;}
li{list-style: none;}
button{
  background: none; border:none;
  &:hover{
    cursor: pointer;
  }
}
a{
  color:#222;
  text-decoration: none;
  &:hover,&:active,&:visited{
    text-decoration: none;
  }
}
input:focus-visible{
  outline: none;
}

#wrap{min-width: $pc-layout}

/* common */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.layout{
  width: $pc-layout; margin:0 auto;
}


/*layout*/
header{
  /*min-width: $pc-layout;*/
  > .header-wrap{
    max-width: $pc-layout;
    width: 100%; margin:0 auto;
    display: grid; align-items: center;
    grid-template-columns: calc(34px + 20px) 200px 1fr 300px;
    grid-template-rows: auto 62px;
    grid-template-areas:
          "utils utils utils utils"
          "gnb logo search others"
  ;
  }
  .utils{
    grid-area: utils; height: calc(12px + 20px + 12px);
    display: flex; justify-content: space-between; align-items: center;
    min-width: $pc-layout;
    .box{
      display: flex; align-items: center; gap:8px;
    }
    .lang{
      position: relative;
      .btn-lang{
        padding-left: 24px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='352' height='352' viewBox='0 0 352 352'%3E%3Cg transform='translate(176, 176) translate(-161.5, -161.5)'%3E%3Csvg width='323' height='323' viewBox='144 144 512 512'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m4e2 183.68c-119.59.0-216.32 96.738-216.32 216.32S280.418 616.32 4e2 616.32 616.32 519.586 616.32 4e2 519.586 183.68 4e2 183.68zm-29.758 11.648c-20.75 9.9062-38.918 29.863-53.059 56.207-10.02 18.672-18.094 40.68-23.773 65.023h-49.121c-1.3477-.019532-2.6484.50391-3.6094 1.4492-.95703.94922-1.5 2.2422-1.5 3.5898s.54297 2.6406 1.5 3.5859c.96094.94922 2.2617 1.4688 3.6094 1.4531h46.918c-4.5938 22.883-7.0859 47.559-7.0859 73.367.0 25.75 2.5117 50.367 7.0859 73.207h-84.703c-8.625-22.758-13.383-47.457-13.383-73.207.0-104.03 77.047-190.2 177.12-204.68zm59.512.0c71.488 10.34 131.18 57.305 159.49 121.23h-82.656c-5.6758-24.344-13.754-46.352-23.773-65.023-14.141-26.344-32.309-46.301-53.059-56.207zm-34.949 3.4648c.050781-.003906.10156.003907.15625.0v117.77h-91.316c5.4531-22.688 13.133-43.113 22.355-60.301 18.336-34.16 42.715-54.984 68.805-57.465zm10.23.0c26.148 2.4102 50.59 23.234 68.961 57.465 9.2227 17.188 16.902 37.613 22.355 60.301h-91.316zm-103.59 127.84h93.52v146.57h-93.52c-4.6758-22.699-7.2422-47.383-7.2422-73.207.0-25.887 2.5469-50.629 7.2422-73.367zm103.59.0h93.52c4.6992 22.738 7.2422 47.48 7.2422 73.367.0 25.824-2.5625 50.508-7.2422 73.207h-93.52zm103.75.0h84.703c8.6719 22.809 13.383 47.543 13.383 73.367.0 25.746-4.6016 50.453-13.227 73.207h-84.859c4.5742-22.84 7.0859-47.457 7.0859-73.207.0-25.809-2.4922-50.484-7.0859-73.367zm-298.19 156.65h82.812c5.6797 24.402 13.734 46.469 23.773 65.18 14.141 26.348 32.309 46.305 53.059 56.207-71.559-10.348-131.38-57.363-159.64-121.39zm93.047.0h91.316v117.92c-26.148-2.4102-50.59-23.234-68.961-57.465-9.2422-17.223-16.898-37.707-22.355-60.457zm101.39.0h91.316c-5.457 22.75-13.113 43.234-22.355 60.457-18.371 34.23-42.812 55.055-68.961 57.465zm101.55.0h82.812c-28.27 64.023-88.086 111.04-159.64 121.39 20.75-9.9023 38.918-29.859 53.059-56.207 10.043-18.711 18.094-40.777 23.773-65.18z' fill='none' paint-order='fill stroke' stroke='%23000000' stroke-width='7.6' stroke-linejoin='round' stroke-linecap='round'/%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m4e2 183.68c-119.59.0-216.32 96.738-216.32 216.32S280.418 616.32 4e2 616.32 616.32 519.586 616.32 4e2 519.586 183.68 4e2 183.68zm-29.758 11.648c-20.75 9.9062-38.918 29.863-53.059 56.207-10.02 18.672-18.094 40.68-23.773 65.023h-49.121c-1.3477-.019532-2.6484.50391-3.6094 1.4492-.95703.94922-1.5 2.2422-1.5 3.5898s.54297 2.6406 1.5 3.5859c.96094.94922 2.2617 1.4688 3.6094 1.4531h46.918c-4.5938 22.883-7.0859 47.559-7.0859 73.367.0 25.75 2.5117 50.367 7.0859 73.207h-84.703c-8.625-22.758-13.383-47.457-13.383-73.207.0-104.03 77.047-190.2 177.12-204.68zm59.512.0c71.488 10.34 131.18 57.305 159.49 121.23h-82.656c-5.6758-24.344-13.754-46.352-23.773-65.023-14.141-26.344-32.309-46.301-53.059-56.207zm-34.949 3.4648c.050781-.003906.10156.003907.15625.0v117.77h-91.316c5.4531-22.688 13.133-43.113 22.355-60.301 18.336-34.16 42.715-54.984 68.805-57.465zm10.23.0c26.148 2.4102 50.59 23.234 68.961 57.465 9.2227 17.188 16.902 37.613 22.355 60.301h-91.316zm-103.59 127.84h93.52v146.57h-93.52c-4.6758-22.699-7.2422-47.383-7.2422-73.207.0-25.887 2.5469-50.629 7.2422-73.367zm103.59.0h93.52c4.6992 22.738 7.2422 47.48 7.2422 73.367.0 25.824-2.5625 50.508-7.2422 73.207h-93.52zm103.75.0h84.703c8.6719 22.809 13.383 47.543 13.383 73.367.0 25.746-4.6016 50.453-13.227 73.207h-84.859c4.5742-22.84 7.0859-47.457 7.0859-73.207.0-25.809-2.4922-50.484-7.0859-73.367zm-298.19 156.65h82.812c5.6797 24.402 13.734 46.469 23.773 65.18 14.141 26.348 32.309 46.305 53.059 56.207-71.559-10.348-131.38-57.363-159.64-121.39zm93.047.0h91.316v117.92c-26.148-2.4102-50.59-23.234-68.961-57.465-9.2422-17.223-16.898-37.707-22.355-60.457zm101.39.0h91.316c-5.457 22.75-13.113 43.234-22.355 60.457-18.371 34.23-42.812 55.055-68.961 57.465zm101.55.0h82.812c-28.27 64.023-88.086 111.04-159.64 121.39 20.75-9.9023 38.918-29.859 53.059-56.207 10.043-18.711 18.094-40.777 23.773-65.18z' fill='%23000000' paint-order='fill stroke' stroke='%23000000' stroke-width='1.8' stroke-linejoin='round' stroke-linecap='round'/%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='m4e2 183.68c-119.59.0-216.32 96.738-216.32 216.32S280.418 616.32 4e2 616.32 616.32 519.586 616.32 4e2 519.586 183.68 4e2 183.68zm-29.758 11.648c-20.75 9.9062-38.918 29.863-53.059 56.207-10.02 18.672-18.094 40.68-23.773 65.023h-49.121c-1.3477-.019532-2.6484.50391-3.6094 1.4492-.95703.94922-1.5 2.2422-1.5 3.5898s.54297 2.6406 1.5 3.5859c.96094.94922 2.2617 1.4688 3.6094 1.4531h46.918c-4.5938 22.883-7.0859 47.559-7.0859 73.367.0 25.75 2.5117 50.367 7.0859 73.207h-84.703c-8.625-22.758-13.383-47.457-13.383-73.207.0-104.03 77.047-190.2 177.12-204.68zm59.512.0c71.488 10.34 131.18 57.305 159.49 121.23h-82.656c-5.6758-24.344-13.754-46.352-23.773-65.023-14.141-26.344-32.309-46.301-53.059-56.207zm-34.949 3.4648c.050781-.003906.10156.003907.15625.0v117.77h-91.316c5.4531-22.688 13.133-43.113 22.355-60.301 18.336-34.16 42.715-54.984 68.805-57.465zm10.23.0c26.148 2.4102 50.59 23.234 68.961 57.465 9.2227 17.188 16.902 37.613 22.355 60.301h-91.316zm-103.59 127.84h93.52v146.57h-93.52c-4.6758-22.699-7.2422-47.383-7.2422-73.207.0-25.887 2.5469-50.629 7.2422-73.367zm103.59.0h93.52c4.6992 22.738 7.2422 47.48 7.2422 73.367.0 25.824-2.5625 50.508-7.2422 73.207h-93.52zm103.75.0h84.703c8.6719 22.809 13.383 47.543 13.383 73.367.0 25.746-4.6016 50.453-13.227 73.207h-84.859c4.5742-22.84 7.0859-47.457 7.0859-73.207.0-25.809-2.4922-50.484-7.0859-73.367zm-298.19 156.65h82.812c5.6797 24.402 13.734 46.469 23.773 65.18 14.141 26.348 32.309 46.305 53.059 56.207-71.559-10.348-131.38-57.363-159.64-121.39zm93.047.0h91.316v117.92c-26.148-2.4102-50.59-23.234-68.961-57.465-9.2422-17.223-16.898-37.707-22.355-60.457zm101.39.0h91.316c-5.457 22.75-13.113 43.234-22.355 60.457-18.371 34.23-42.812 55.055-68.961 57.465zm101.55.0h82.812c-28.27 64.023-88.086 111.04-159.64 121.39 20.75-9.9023 38.918-29.859 53.059-56.207 10.043-18.711 18.094-40.777 23.773-65.18z' fill='%23000000' paint-order='fill stroke' display='none'/%3E%3C/svg%3E%3C/g%3E%3C/svg%3E");
      }
      ul{
        position: absolute; top: 100%; left: 20px;
        width:100%; height: 0;
        overflow: hidden;
        border-radius: 4px; border:1px solid $gray; background: #fff;
        opacity: 0; transition: 0.4s opacity ease-in-out;
        li{
          button{
            display: block; width: 100%;
            padding:4px;
          }
        }
        &.active{
          opacity: 1;
        }
      }
    }
    .exchange-rate{
      font-size: 14px;
    }
    .menu{
      display: flex; gap:8px;
      a{
        font-size: 14px;
        +a{
          position: relative;
          display:block; padding-left: 8px;
          &:before{
            content: ''; display: block; position: absolute; left: 0; top: 50%; transform: translateY(-50%);
            width: 1px; height:0.8em;
            background: #aaa;
          }
        }
      }

    }
  }
  #btnGnb{
    width: 34px; height: 34px;
    background-image: url("data:image/svg+xml,%3Csvg width='256px' height='256px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Ctitle%3EMenu%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Menu'%3E%3Crect id='Rectangle' fill-rule='nonzero' x='0' y='0' width='24' height='24'%3E%3C/rect%3E%3Cline x1='5' y1='7' x2='19' y2='7' id='Path' stroke='%230C0310' stroke-width='2' stroke-linecap='round'%3E%3C/line%3E%3Cline x1='5' y1='17' x2='19' y2='17' id='Path' stroke='%230C0310' stroke-width='2' stroke-linecap='round'%3E%3C/line%3E%3Cline x1='5' y1='12' x2='19' y2='12' id='Path' stroke='%230C0310' stroke-width='2' stroke-linecap='round'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .search-wrap{
    grid-area: search;
    .search{
      position: relative; margin: 0 auto;
      width: 60%;min-width: 300px;
      input{
        width: 100%; height: 50px;
        padding-left: 20px;
        background:$gray; border: 1px solid $gray; border-radius: 40px;
      }
      button{
        position: absolute; right: 0; top: 50%; transform: translateY(-50%);
        width: 24px; height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.3347 19.9938L19.9958 21.3325L16.2566 16.9241L16.926 16.2547L21.3347 19.9938Z' fill='%23101010'/%3E%3Cpath d='M17.4283 10.7134C17.4282 7.0058 14.4226 4.00024 10.7148 4.00024C7.00708 4.00034 4.00139 7.00586 4.0013 10.7134C4.0013 14.421 7.00703 17.4264 10.7148 17.4265V18.7598L10.3008 18.7493C6.1861 18.5407 2.88685 15.2419 2.67839 11.1274L2.66797 10.7134C2.66806 6.26952 6.27071 2.66709 10.7148 2.66699L11.1289 2.67741C15.3807 2.89281 18.7616 6.40827 18.7617 10.7134L18.7512 11.1274C18.5358 15.3791 15.0202 18.7598 10.7148 18.7598V17.4265C14.4227 17.4265 17.4283 14.421 17.4283 10.7134Z' fill='%23101010'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .others{
    display: flex;align-items: center; justify-content: flex-end;
    li{
      a{
        display: block; width: 46px; height: 46px;
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
      }
      .btn-{
        &basket{
          background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' width='235px' height='235px' viewBox='-2.24 -2.24 36.48 36.48' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M27 4.96h-5.975v-1.918c0-1.655-1.346-3-3-3h-3.989c-1.655 0-3 1.345-3 3v1.918h-6.037c-1.104 0-2 0.896-2 2v22.999c0 1.105 0.896 2 2 2h22c1.105 0 2-0.895 2-2v-22.999c0-1.104-0.895-2-2-2h0zM13.037 3.042c0-0.552 0.448-1 1-1h3.989c0.552 0 1 0.448 1 1v1.918h-5.989v-1.918zM27 29.959h-22v-22.999h6.037v2.058s-0.027 0.999 0.994 0.999c1.125 0 1.006-0.999 1.006-0.999v-2.058h5.989v2.058s-0.067 1.004 0.996 1.004c1 0 1.004-1.004 1.004-1.004v-2.058h5.974v22.999z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        }
        &mypage{
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='352' height='352' viewBox='0 0 352 352'%3E%3Cg transform='translate(176, 176) translate(-161, -161)'%3E%3Csvg width='322' height='322' viewBox='144 144 512 512'%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m279.29 295.04c0 66.648 54.055 120.7 120.7 120.7 66.648.0 120.7-54.055 120.7-120.7.003906-66.652-54.051-120.71-120.7-120.71-66.652.0-120.71 54.055-120.71 120.71zm209.92.0c0 49.332-39.887 89.215-89.215 89.215-49.332.0-89.215-39.887-89.215-89.215.0-49.332 39.887-89.215 89.215-89.215 49.328-.003907 89.215 39.883 89.215 89.215z' fill='%23000000'/%3E%3Cpath d='m523.33 396.32h-.52344l-7.875-1.5742-5.7734 5.7734c-28.863 30.438-67.699 46.707-109.16 46.707s-80.293-16.27-109.16-46.707l-5.7734-5.7734-7.8711 1.0508h-.52344c-58.254 9.4453-102.34 60.875-102.34 120.18v72.945c0 20.469 16.27 36.734 36.734 36.734h377.86c20.469.0 36.734-16.27 36.734-36.734l.007812-72.945c0-59.305-44.086-110.73-102.34-119.66zm70.848 192.6c0 3.1484-2.0977 5.2461-5.2461 5.2461l-377.86.003906c-3.1484.0-5.2461-2.0977-5.2461-5.2461l-.003907-72.949c0-41.461 28.863-77.672 68.223-87.117 1.0508 1.0508 2.0977 1.5742 3.1484 2.625 1.0508 1.0508 2.625 2.0977 3.6719 3.1484 1.0508 1.0508 2.0977 1.5742 3.1484 2.625s2.625 2.0977 3.6719 3.1484c1.0508 1.0508 2.0977 1.5742 3.1484 2.625 1.0508 1.0508 2.625 2.0977 3.6719 2.625 1.0508.52344 2.0977 1.5742 3.6719 2.0977 1.5742 1.0508 2.625 1.5742 4.1992 2.625 1.0508.52344 2.0977 1.5742 3.6719 2.0977 1.5742 1.0508 2.625 1.5742 4.1992 2.625 1.0508.52344 2.625 1.5742 3.6719 2.0977 1.5742.52344 2.625 1.5742 4.1992 2.0977 1.0508.52344 2.625 1.0508 3.6719 1.5742 1.5742.52344 3.1484 1.5742 4.1992 2.0977 1.0508.52344 2.625 1.0508 3.6719 1.5742 1.5742.52344 3.1484 1.0508 4.7227 1.5742 1.0508.52344 2.625 1.0508 3.6719 1.5742 1.5742.52344 3.1484 1.0508 4.7227 1.5742 1.0508.52344 2.625 1.0508 3.6719 1.0508 1.5742.52344 3.1484 1.0508 4.7227 1.5742 1.0508.52344 2.625.52344 3.6719 1.0508 1.5742.52344 3.1484.52344 4.7227 1.0508 1.0508.52344 2.625.52344 3.6719 1.0508 1.5742.52344 3.1484.52344 5.2461 1.0508 1.0508.0 2.625.52344 3.6719.52344 1.5742.0 3.6719.52344 5.2461.52344 1.0508.0 2.0977.52344 3.6719.52344 2.0977.0 4.1992.52344 6.2969.52344h3.1484 8.9219 8.9219 3.1484c2.0977.0 4.1992.0 6.2969-.52344 1.0508.0 2.625-.52344 3.6719-.52344 1.5742.0 3.6719-.52344 5.2461-.52344 1.0508.0 2.625-.52344 3.6719-.52344 1.5742-.52344 3.1484-.52344 5.2461-1.0508 1.0508.0 2.625-.52344 3.6719-1.0508 1.5742-.52344 3.1484-.52344 4.7227-1.0508 1.0508-.52344 2.625-.52344 3.6719-1.0508 1.5742-.52344 3.1484-1.0508 4.7227-1.5742 1.0508-.52344 2.625-1.0508 3.6719-1.0508 1.5742-.52344 3.1484-1.0508 4.7227-1.5742 1.0508-.52344 2.625-1.0508 3.6719-1.5742 1.5742-.52344 3.1484-1.0508 4.1992-1.5742s2.625-1.0508 3.6719-1.5742c1.5742-.52344 3.1484-1.0508 4.1992-2.0977 1.0508-.52344 2.625-1.0508 3.6719-1.5742 1.5742-.52344 2.625-1.5742 4.1992-2.0977 1.0508-.52344 2.625-1.0508 3.6719-2.0977 1.5742-.52344 2.625-1.5742 4.1992-2.625 1.0508-.52344 2.0977-1.5742 3.6719-2.0977 1.5742-1.0508 2.625-1.5742 4.1992-2.625 1.0508-.52344 2.0977-1.5742 3.1484-2.0977 1.5742-1.0508 2.625-2.0977 4.1992-3.1484 1.0508-1.0508 2.0977-1.5742 3.1484-2.625 1.5742-1.0508 2.625-2.0977 4.1992-3.1484 1.0508-1.0508 2.0977-1.5742 3.1484-2.625 1.5742-1.0508 2.625-2.625 4.1992-3.6719 1.0508-1.0508 2.0977-1.5742 2.625-2.625 39.359 9.4453 68.223 45.656 68.223 87.117l.050781 73.992z' fill='%23000000'/%3E%3C/g%3E%3C/svg%3E%3C/g%3E%3C/svg%3E");
        }
        &curation{
          background-image: url("data:image/svg+xml,%3Csvg viewBox='-1.44 -1.44 18.88 18.88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M8 3L10.5 2.5L11 0H12L12.5 2.5L15 3V4L12.5 4.5L12 7H11L10.5 4.5L8 4V3Z' fill='%23ea2829'%3E%3C/path%3E%3Cpath d='M0 11V10L4 9L5 5H6L7 9L11 10V11L7 12L6 16H5L4 12L0 11Z' fill='%23ea2829'%3E%3C/path%3E%3Cpath d='M1 2L2.5 0.5L4 2L2.5 3.5L1 2Z' fill='%23ea2829'%3E%3C/path%3E%3Cpath d='M15 14L13 12L11 14L13 16L15 14Z' fill='%23ea2829'%3E%3C/path%3E%3Cpath d='M15 10C15.5523 10 16 9.55229 16 9C16 8.44771 15.5523 8 15 8C14.4477 8 14 8.44771 14 9C14 9.55229 14.4477 10 15 10Z' fill='%23ea2829'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
        }
      }

    }
  }
}

.key-visual{
  .layout{
    display: flex; justify-content: space-between; align-items: center;
    flex-wrap: wrap;
  }


  .breadcrumb{
    > ul{
      display: flex; gap:4px;
      > li{
        position: relative;
        font-size: 14px;
        a{
          font-size: 14px;
        }
        + li{
          padding-left: 20px;
          &:before{
            content: ''; display: block;
            position: absolute; left: 0; top:50%; transform: translateY(-50%);
            width: 14px; height: 14px;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M9.71069 18.2929C10.1012 18.6834 10.7344 18.6834 11.1249 18.2929L16.0123 13.4006C16.7927 12.6195 16.7924 11.3537 16.0117 10.5729L11.1213 5.68254C10.7308 5.29202 10.0976 5.29202 9.70708 5.68254C9.31655 6.07307 9.31655 6.70623 9.70708 7.09676L13.8927 11.2824C14.2833 11.6729 14.2833 12.3061 13.8927 12.6966L9.71069 16.8787C9.32016 17.2692 9.32016 17.9023 9.71069 18.2929Z' fill='%230F0F0F'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
        ul{
          position: absolute; left: 20px; top:100%;
          border:1px solid $gray;
          box-shadow: 0px 2px 2px $gray;
        }
      }
    }
  }
  .visual-img{
    width: 100%; text-align: center;
  }

}
